<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">  
 	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 <!--<servlet>
		 </description><servlet-name>Dashboard</servlet-name>
		<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Dashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>-->
	<servlet>
	<description>
	</description>
	<display-name>GestorServlet</display-name>
	<servlet-name>GestorServlet</servlet-name>
	<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.GestorServlet</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>GestorServlet</servlet-name>
		<url-pattern>/Gestor</url-pattern>
</servlet-mapping>
		<servlet>
	<description>
	</description>
	<display-name>ClientesServlet</display-name>
	<servlet-name>ClientesServlet</servlet-name>
	<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.ClientesServlet</servlet-class>
	</servlet>
		<servlet>
			<description>
			</description>
			<display-name>AgregarCliente</display-name>
			<servlet-name>AgregarCliente</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Clientes.AgregarCliente</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>EliminarCliente</display-name>
			<servlet-name>EliminarCliente</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Clientes.EliminarCliente</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ModificarCliente</display-name>
			<servlet-name>ModificarCliente</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Clientes.ModificarCliente</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>MostrarCliente</display-name>
			<servlet-name>MostrarCliente</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Clientes.MostrarCliente</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>AgregarGestor</display-name>
			<servlet-name>AgregarGestor</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.gestores.AgregarGestor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>EliminarGestor</display-name>
			<servlet-name>EliminarGestor</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.gestores.EliminarGestor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>MostrarGestor</display-name>
			<servlet-name>MostrarGestor</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.gestores.MostrarGestor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ModificarGestor</display-name>
			<servlet-name>ModificarGestor</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.gestores.ModificarGestor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>AgregarSeguimiento</display-name>
			<servlet-name>AgregarSeguimiento</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Seguimineot.AgregarSeguimiento</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>EliminarSeguimiento</display-name>
			<servlet-name>EliminarSeguimiento</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Seguimineot.EliminarSeguimiento</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>MostrarSeguimiento</display-name>
			<servlet-name>MostrarSeguimiento</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Seguimineot.MostrarSeguimiento</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ModificarSeguimiento</display-name>
			<servlet-name>ModificarSeguimiento</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Seguimineot.ModificarSeguimiento</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>AgregarTicket</display-name>
			<servlet-name>AgregarTicket</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Tickets.AgregarTicket</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>EliminarTicket</display-name>
			<servlet-name>EliminarTicket</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Tickets.EliminarTicket</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>MostrarTicket</display-name>
			<servlet-name>MostrarTicket</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Tickets.MostrarTicket</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ModificarTicket</display-name>
			<servlet-name>ModificarTicket</servlet-name>
			<servlet-class>es.iespuertodelacruz.jmrs.incidencias.servlets.Tickets.ModificarTicket</servlet-class>
		</servlet>
	<servlet-mapping>
		<servlet-name>ClientesServlet</servlet-name>
		<url-pattern>/clientes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarCliente</servlet-name>
		<url-pattern>/AgregarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarCliente</servlet-name>
		<url-pattern>/agregarcliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarCliente</servlet-name>
		<url-pattern>/EliminarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarCliente</servlet-name>
		<url-pattern>/eliminarcliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarCliente</servlet-name>
		<url-pattern>/ModificarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarCliente</servlet-name>
		<url-pattern>/modificarcliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarCliente</servlet-name>
		<url-pattern>/MostrarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarCliente</servlet-name>
		<url-pattern>/mostrarcliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarGestor</servlet-name>
		<url-pattern>/AgregarGestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarGestor</servlet-name>
		<url-pattern>/agregargestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarGestor</servlet-name>
		<url-pattern>/EliminarGestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarGestor</servlet-name>
		<url-pattern>/eliminargestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarGestor</servlet-name>
		<url-pattern>/MostrarGestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarGestor</servlet-name>
		<url-pattern>/mostrargestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarGestor</servlet-name>
		<url-pattern>/ModificarGestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarGestor</servlet-name>
		<url-pattern>/modificargestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarSeguimiento</servlet-name>
		<url-pattern>/AgregarSeguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarSeguimiento</servlet-name>
		<url-pattern>/agregarseguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarSeguimiento</servlet-name>
		<url-pattern>/EliminarSeguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarSeguimiento</servlet-name>
		<url-pattern>/eliminarseguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarSeguimiento</servlet-name>
		<url-pattern>/MostrarSeguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarSeguimiento</servlet-name>
		<url-pattern>/mostrarseguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarSeguimiento</servlet-name>
		<url-pattern>/ModificarSeguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarSeguimiento</servlet-name>
		<url-pattern>/modificarseguimiento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarTicket</servlet-name>
		<url-pattern>/AgregarTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarTicket</servlet-name>
		<url-pattern>/agregarticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarTicket</servlet-name>
		<url-pattern>/EliminarTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarTicket</servlet-name>
		<url-pattern>/eliminarticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarTicket</servlet-name>
		<url-pattern>/MostrarTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarTicket</servlet-name>
		<url-pattern>/mostrarticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarTicket</servlet-name>
		<url-pattern>/ModificarTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarTicket</servlet-name>
		<url-pattern>/modificarticket</url-pattern>
	</servlet-mapping>


</web-app>